*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
  
 
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
   

}


.container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px 0px;
    background-color: aqua;
    border: 1px solid black;
}
.image{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload{
    width: 50%;
   
    background-color: rgb(85, 21, 21);
}
.image input{
    display: none;
}
.image label{
    position: absolute;
    background-color: #333;
    width: 30%;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 40px;
}
.image img{
    width: 200px;
    border: 1px solid black;
    border-radius: 100%;
}

.names{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 15px;
}
.first{
    display: flex;
    flex-direction: column;
}
.last{
    display: flex;
    flex-direction: column;
}
.course-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 15px;
}
.course{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.course-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.dates{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 15px;
}
.start{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.container input{
    padding: 5px;
}