*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}
.profile-container{
    width: 250px;
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    border: 4px solid crimson;
    padding: 30px;
    position: relative;
    overflow: hidden;
}
input{
    display: none;
}
#photo{
    width: 100%;
    height: 100%;
}
.profile-container label{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(29,7,129,0.8);
    height: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: display 1s ease-in-out;
}